<div class="md">

    <div class="logo-container" >
        <p>the legendary</p>
        <h1>Valentyn Bondaruk</h1>
        <h4>front-end developer</h4>
    </div>

    <div class="content margin-top-min">
        <div class="info">
            <img src="img/avatar.jpeg" alt="avatar">
            <div class="info-item margin-top-min ">
                <h3>Personal</h3>
                <hr>
                <div class="info-item_details">
                    <p>Name</p>
                    <span>fgjh</span>
                </div>
                <hr>
                <div class="info-item_details">
                    <p>Birthday</p>
                    <span>fgjh</span>
                </div>
                <hr>
                <div class="info-item_details">
                    <p>Nationality</p>
                    <span>fgjh</span>
                </div>
                <hr>
                <div class="info-item_details">
                    <p>Languages</p>
                    <span>fgjh</span>
                </div>
                <hr>
                <div class="info-item_details">
                    <p>56yjty</p>
                    <span>fgjh</span>
                </div>
                <hr>
            </div>
            <div class="info-item margin-top-min">
                <h3>Contact</h3>
                <hr>
                <div class="info-item_details">
                    <p>Mobily</p>
                    <span>fgjh</span>
                </div>
                <hr>
                <div class="info-item_details">
                    <p>Email</p>
                    <span>fgjh</span>
                </div>
                <hr>
                <div class="info-item_details">
                    <p>Skype</p>
                    <span>fgjh</span>
                </div>
                <hr>
                <div class="info-item_details">
                    <p>Address</p>
                    <span>fgjh</span>
                </div>
                <hr>
            </div>

            <div class="info-item margin-top-min">
                <h3>Links</h3>
                <hr>
                <ul class="info-item_links">
                    <li><i class="fab fa-linkedin"></i> <a href="#">www.linkedin.com/ <span>username</span></a></li>
                    <li><i class="fab fa-facebook-square">  </i> <a href="#">www.facebookcom/ <span>username</span></a></li>
                    <li><i class="fab fa-twitter-square"> </i> <a href="#">www.twittercom/ <span>username</span></a></li>
                </ul>
            </div>
        </div>
        <div class="profile">
            <div class="profile-item">
                <h3>profile</h3>
                <hr>
              <p>I am Angular 2+ ninja from Ukraine with 
                  2+ years experience in world of webpages.</p>

                <div class="grid">

                    <section>
                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431"
                                r="15.91549431" />
                            <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="50,100" stroke-linecap="round" fill="none"
                                cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <g class="circle-chart__info">
                                <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">HTML</text>
                            </g>
                        </svg>
                    </section>

                    <section>
                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431"
                                r="15.91549431" />
                            <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="30,100" stroke-linecap="round" fill="none"
                                cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <g class="circle-chart__info">
                                <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">HTML</text>
                            </g>
                        </svg>
                    </section>

                    <section>
                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431"
                                r="15.91549431" />
                            <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="80,100" stroke-linecap="round" fill="none"
                                cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <g class="circle-chart__info">
                                <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">HTML</text>
                            </g>
                        </svg>
                    </section>

                    <section>
                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431"
                                r="15.91549431" />
                            <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" stroke-dasharray="100,100" stroke-linecap="round"
                                fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                            <g class="circle-chart__info">
                                <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">HTML</text>
                            </g>
                        </svg>
                    </section>
                  </div>
            </div>
            <div class="profile-item margin-top-min">
                <h3>work</h3>
                <hr>
                
                <div class="timeline">
                        <p class="flag">2016</p>
                        <p class="timeline-item">Junior front-end debeloper <span>webworks</span></p> 
                    </div>
                <div class="timeline">
                        <p class="flag">2016</p>
                        <p class="timeline-item">Junior front-end debeloper <span>webworks</span></p> 
                    </div>
                <div class="timeline">
                    <p class="flag">2016</p>
                    <p class="timeline-item">Junior front-end debeloper <span>webworks</span></p> 
                </div>
            </div>
            <div class="profile-item margin-top-min">
                <h3>education</h3>
                <hr>
                <div class="timeline">
                    <p class="flag">2016</p>
                    <p class="timeline-item">Software Development <span>webworks</span></p> 
                </div>
                <div class="timeline">
                    <p class="flag">2016</p>
                    <p class="timeline-item">2015-present Vasylkivsky College of National aviation university <span>webworks</span></p> 
                </div>
            </div>
            <div class="profile-item margin-top-min">
                <h3>software</h3>
                <hr>
            </div>
        </div>
    </div>
</div>