


/**
 * But this is not a professional resume,  
 * doesn't look great. Let's render it.
 */

#work-text{
  background: rgba(255, 251, 251, 0.24);
  white-space: normal;
}

 #work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg) translateY(-2.5%);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * Alright. We're ready.
 * Okay here we go!
 */