/**
 * We're almost done.
 */

 pre:hover{
  box-shadow: 0 0 40px 5px rgba(255,255,255,0.7);
}

#skip-animation, #pause-resume {
  display: none;
}

/**
* I hope you enjoyed this.
*
* Thanks to Jake Albaugh, who was the first (that I know of) to do
* a page like this. Some of the autotyping and syntax highlighting
* code is based off his work.
*
* See more of Jake's work at http://codepen.io/jakealbaugh/
*/

/**
* By the way, you can edit this box. Try adding new CSS!
*
* Try it out! There's lots you can do.
* Try playing with text sizes, shadows, animations, or just
* break the page. I won't hold it against you.
*/
