
/**
 * The text could use some tweaks.
 */

 .md {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/** сюда пиши стилі */
hr{
  border-style: solid;
  color: #999;
}

ul li{
  list-style-type: none;
}

.md .logo {
  background:green;
  width:100%;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md ul, .md p {
  margin: 0px;
}

.text{
  white-space: pre-wrap;
}

.logo-container {
  text-align: center;
  background-image: url(img/background-logo.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.25em;
  padding: 20px 0;
}

.logo-container h4{
  border: 1px solid white;
  width: 50%;
  margin: 0 auto;
}

.logo-container h4::before{
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
  right: 3vw;
  margin-left: -50%;

}

.logo-container h4::after{
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
  left: 3vw;
  margin-right: -50%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
}

.info img {
  border-radius: 50%;
  margin: 0 auto;
  width: 100%;
}

.info-item_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.info-item_details span{
  text-align: right;
}

.info-item_links{
  
  padding: 0;
  font-size: 14px;
}

.info-item_links li{   
   line-height: 2.2;
}

.info-item_links a{   
  border-bottom: none;
}

.info-item_links span{   
  color:#00abc2;
}

.info-item_links i{
  font-size: 2em;
  
}

.profile-item {
  line-height: 1.2;
}

.profile-item h3{
  text-transform: uppercase;
}

.timeline {  
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-column-gap: 0;
}

.timeline .flag{
  /* background-color: #333; */
  color: white;
  text-align: center;
  margin: auto;
  padding: 5px 10px;
  position: relative;
}

.timeline .flag::before {
  content: '▶';
  color: #333;
  right: -70px;
  /* display: inline-block; */
  position: relative;
  font-size: 27px;
  vertical-align: middle;
  width: 100%;
  text-indent: -8px;
}

.timeline>.timeline-item{
  padding: 20px;
  height: 100%;
}

.timeline>.timeline-item::before{
  content: "●";
  background-color: #333;
  color: #333;
  width: 1px;
  height: 100%;
  display: inline-block;
  position: relative;
  left: -20px;
  font-size: 28px;
  line-height: 100%;
  text-indent: -8px;
}

.timeline .flag p{
  display: inline-block;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Layout styles only, not needed for functionality */

.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 31em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
/**
 * That's better.
 *
 * If you want to contact me, use the PGP keys on the left.
 *
 * You know, if you're into that sort of thing.
 */

#pgp-text {
  font-size: 12px;
  color: #ada;
}
