/**
 *
 * Hey. My name's Valentyn Bondaruk.
 *
 * How about some live coding?
 *
 */


 /**
 * Let's begin. We add a background animation to make it more fun.
 */

#background-animation{
  display:block;
}


/**
 * Add animation delay.
 * That didn't do much. But you'll see.
 */

* {
  -webkit-transition: all 1s;
}

/**
 * Black on white is really boring,
 * let's customize.
 */

html {
  background: rgb(63, 82, 99);
}

/***
 * Hold on...
 */

.pre,  a {
  color: white;
}

/**
 * That's better. Sorry about your eyes.
 *
 * Working in this big empty space is tough.
 *
 * The next step is the creation of a pleasant area for us to work with.
 */

.pre {
  overflow: auto;
  background: rgb(48, 48, 48,0.8);
  border: 1px solid #ccc;
  max-height: 94.5%;
  width: 49%;
  /* opacity: 0.8; */
  font-size: 14px;
  font-family: monospace;
  padding: 10px 5px 10px;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
}

/**
 * Okay. We're going to start filling up the screen.
 * Let's move the screen to the right side
 * to make it better.
 */

#style-text {
  -webkit-transform: translateX(0);
  position: absolute;
}

/**
 * This is nice, but let's make it even more readable.
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * Now we're getting somewhere.
 * Time to create some style.
 */

#style-text {
  -webkit-transform: translateX(99.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 94.5%;
}

 body{
  -webkit-perspective: 100px;
 }

 /**
 * Oops.
 */

body {
  -webkit-perspective: 1000px;
}

.pre:not(#style-text) {
  -webkit-transform: rotateY(10deg) translateY(2.5%);
  -webkit-transform-origin: left;
}

 /**
 * The next step will be to create a resume.
 * To begin, I will add information about myself.
 */